# node
node_modules/
dist/
build/
.cache/
coverage/
*.log
.pnpm-store/

# env
.env
.env.*
!.env.example

# shopify cli
.shopify/

# os
.DS_Store

# build
/.cache
/build
/public/build/
/public/_dev
/extensions/*/dist
.react-router/
.shopify.lock
*.sqlite
*.sqlite-journal
